/* Primary */

$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);

/* Neutral */

$lightGrey:hsla(203, 44%, 93%, 0.70);
$grayishBlue: hsl(218, 22%, 67%);

$heading: 1.5rem;
$subheading: 1.3rem;
$body:1rem; 
